.btn {
	background: linear-gradient(
		to right bottom,
		$color-white-dark -10%,
		$color-gold 100%
	);
	// background: linear-gradient(to right bottom, #eee -200%, #7a4d3f 75%);

	padding: 2rem 3.5rem;
	border: none;
	border-radius: 5px;
	font-size: 2.5rem;
	font-weight: bold;
	color: white;
	margin: auto;
	cursor: pointer;
	transition: all 0.3s;

	&-not {
		filter: grayscale(50%);
	}

	&:hover {
		// background: linear-gradient(
		// 	to right bottom,
		// 	$color-white-dark -10%,
		// 	rgba(242, 39, 39, 0.651) 100%
		// );
		background: linear-gradient(to right bottom, #eee -200%, #802c2cd7 75%);

		transform: translateY(-1rem);
		box-shadow: 1rem 1.2rem 3rem rgba(0, 0, 0, 0.2);
	}
}
