.features {
	grid-row: 3/4;
	grid-column: center-start / center-end;

	&__wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
		grid-gap: 11rem;
		margin: 12rem 0;
		align-items: start;
	}

	&__subtitle {
		text-align: center;
		margin-top: 20rem;
		margin-bottom: 2rem;
		font-size: $font-size-subtitle;
	}

	&__title {
		font-size: $font-size-title;
		text-align: center;
	}

	&__btn {
		display: grid;
		grid-column: col-start 5 / col-end 7;
	}
}

.feature {
	display: grid;
	grid-template-columns: min-content 1fr;
	grid-row-gap: 1.5rem;
	grid-column-gap: 2.5rem;

	&__icon {
		height: 6.5rem;
		width: 6.5rem;
		grid-row: 1 / span 2;
	}

	&__text {
		font-size: 2.5rem;
		text-align: justify;
	}
}
