.imagebar__camaro {
	grid-row: 4/5;
	clip-path: polygon(0% 6%, 100% 0%, 100% 100%, 0% 90%);

	background-image: linear-gradient(
			to left top,
			rgba(109, 93, 75, 0.7) 50%,
			#f7bf75d8 140%
		),
		url(../../img/camaro-tlo-11.png);
	justify-content: flex-end;
	margin-top: -20rem;
	margin-top: 8rem;
	background-attachment: fixed;
}
.imagebar__alfa {
	grid-row: 5/6;
	clip-path: polygon(0% 0%, 100% 10%, 100% 91%, 0% 100%);

	background-image: linear-gradient(
			to right top,
			rgba(109, 93, 75, 0.7) 50%,
			#f7bf75d8 140%
		),
		url(../../img/alfa-tlo.jpg);
	justify-content: flex-start;
	margin-top: -6rem;
	background-attachment: fixed;
}

.imagebar {
	grid-column: full-start/full-end;
	height: 90vh;
	display: flex;
	align-items: center;

	background-position: center;
	background-size: cover;
	position: relative;

	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-weight: bold;
		color: white;
		width: 45%;

		&-alfa {
			margin-top: -5rem;
		}

		&-camaro {
			margin-top: -12rem;
		}
	}

	&-title {
		font-size: 3.2rem;
	}

	&-text {
		text-align: justify;
		line-height: 1.8;
		font-size: 2rem;
		text-indent: 5rem;
		padding: 1rem 10rem;
		// width: 80%;
	}

	&-button {
		position: absolute;
		padding: 1rem 2rem;
		// background: linear-gradient(to right bottom, #eee -200%, #7a4d3f 75%);

		&-alfa {
			bottom: 10rem;
			left: 15%;
		}

		&-camaro {
			bottom: 15rem;
			right: 15%;
		}

		&:hover {
			background: linear-gradient(to right bottom, #eee -200%, #802c2cd7 75%);
		}
	}
}
