.offertbar {
	grid-row: 5/6;
	grid-column: full-start / full-end;
	padding: 5rem 15rem;

	&__title {
		font-size: $font-size-title;
		text-align: center;
	}

	&__subtitle {
		text-align: center;
		// margin-top: 2rem;
		margin-bottom: 2rem;
		font-size: $font-size-subtitle;
	}

	&__card {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
		grid-gap: 8rem;
		height: 70vh;
		padding: 2rem;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		box-shadow: 1.5rem 2rem 4rem 1rem rgba(0, 0, 0, 0.2);
		border: 1px solid $color-gold;
		margin-top: 5rem;

		&-1 {
			box-shadow: 1.5rem 2rem 4rem 1rem rgba(0, 0, 0, 0.2);
			border-radius: 10px;
			transition: all 0.5s;
			border: 1px solid $color-gold;

			&:hover {
				transform: scale(1.2);
			}
		}

		&-2 {
			box-shadow: 1.5rem 2rem 4rem 1rem rgba(0, 0, 0, 0.2);
			border-radius: 10px;
			transition: all 0.5s;
			border: 1px solid $color-gold;

			&:hover {
				transform: scale(1.2);
			}
		}

		&-3 {
			box-shadow: 1.5rem 2rem 4rem 1rem rgba(0, 0, 0, 0.2);
			border-radius: 10px;
			transition: all 0.5s;
			border: 1px solid $color-gold;

			&:hover {
				transform: scale(1.1);
			}
		}

		&-4 {
			box-shadow: 1.5rem 2rem 4rem 1rem rgba(0, 0, 0, 0.2);
			border-radius: 10px;
			transition: all 0.5s;
			border: 1px solid $color-gold;

			&:hover {
				transform: scale(1.2);
			}
		}

		&-picture {
			&-1 {
				border-top-right-radius: 10px;
				border-top-left-radius: 10px;
				height: 20rem;
				background-image: linear-gradient(
						to right bottom,
						$color-gold,
						$color-grey-dark
					),
					url(../../img/codzien.jpg);
				background-blend-mode: screen;
				background-size: cover;
			}

			&-2 {
				border-top-right-radius: 10px;
				border-top-left-radius: 10px;
				height: 20rem;
				background-image: linear-gradient(
						to right bottom,
						$color-gold,
						$color-grey-dark
					),
					url(../../img/kupon.jpeg);
				background-blend-mode: screen;
				background-size: contain;
			}

			&-3 {
				border-top-right-radius: 10px;
				border-top-left-radius: 10px;
				height: 20rem;
				background-image: linear-gradient(
						to right bottom,
						$color-gold,
						$color-grey-dark
					),
					url(../../img/wedding.png);
				background-blend-mode: screen;
				background-size: cover;
			}

			&-4 {
				border-top-right-radius: 10px;
				border-top-left-radius: 10px;
				height: 20rem;
				background-image: linear-gradient(
						to right bottom,
						$color-gold,
						$color-grey-dark
					),
					url(../../img/firm.jpg);
				background-blend-mode: screen;
				background-size: cover;
			}
		}

		&-wrapper {
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
			height: 68%;
			background-color: #fff;
		}

		&-title {
			text-align: center;
			padding: 3rem;
			font-size: $font-size-l;
			font-weight: bold;
		}

		&-paragraph {
			text-align: justify;
			text-indent: 3rem;
			padding: 0 3rem 3rem;
			font-size: $font-size-normal;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
		}
	}
}
