// $color-primary: #777
$color-input-header: rgba(248, 247, 247, 0.8);
$color-grey-dark: #6d5d4b;
$color-white: #fff;
$color-white-dark: #eee;
$color-red: #f22525;
$color-gold: #c69963;
$color-secondary: #1a1e22;

$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

$font-size-nav-button: 1.5rem;
$font-size-title: 6rem;
$font-size-subtitle: 2rem;

$font-size-small: 1.6rem;
$font-size-normal: 2rem;
$font-size-l: 2.6rem;
$font-size-big: 3rem;
$font-size-bigger: 3.5rem;
$font-size-large: 5.5rem;
